
  #title{
    text-decoration: none;
    font-weight: 800;
  }

  #movies {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 25px;
    padding: 25px;
    grid-gap: 40px 90px;
  }

  .object-fit-cover {
    height: 320px;
    width: 240px;
    object-fit: cover; /*magic*/
  }

  .header{
    display: flex;
    align-items: center;
    padding: 25px;
  }

  .jumbotron{
    display: flex;
    width: 100%;
    margin-left: 50px;
  }

  #search-div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    width: 100%;
  }

  #search-text{
    border: none;
    border-bottom: 2px solid black;
    justify-content: space-evenly;
  }

  #search-text:focus{
    outline:none
  }

  #movie .title{
    font-size: 24px;
    margin: 0;
    padding: 2px;
  }

  #movie .image{
    display: flex;
    justify-content: center;
  }
  
  #movie .details-wrapper{
    display: flex;
    justify-content: center;
  }
  
  .footer{
    display: flex;
    justify-content: center;
  }







